* {
margin: 0;
/* border: red dotted 1px; */
}
html {

    font-size: 16px;
}
body {
    font-family: Poppins,"sans-serif"; 
    /* max-width: 1600px; */
    display: block;
    text-align: center;
}

header {
    height: 100px;
    vertical-align: center;

}

 h1 {
    margin: 2rem auto;
    font-size: 3.5rem;
    font-weight: 500;
}   

h6 {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 3rem;
}

#input {
    width: 350px;
    height: 25px;
    margin-bottom: 2rem;
    margin-right: 10px;
    box-sizing: border-box;
}

#submit {
    height: 25px;
    /* position: relative;
    top: 0px; */
    display: block;
    margin: 0 auto;
}

form {
    text-align: center;
    margin: 0 auto;
 }

.container  {
    width: 500px;
    margin: 45px auto;
    text-align: left;
}

.response p, .adress p {
    display: inline-block;
    margin: 0.8rem 1rem;
}