* {
    font-size: 16px;
    margin: 10px 0;
    font-family: Poppins,"sans-serif";
    
    /* border: red dotted 1px; */
}

body {
    width: 100%;
    display: block;
}
 h1 {
    margin: 5px auto;
    padding: 5px;
    font-size: 20px;
 }   

.response {
    display: inline-block;
    width: 30%;
}